



.intro-text .intro-lead-in {
    margin-bottom: 0px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 20px;
}

.intro-text .intro-heading {
    margin-bottom: 25px;
   
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
}


@media(min-width:768px) {
   

    .intro-text .intro-lead-in {
        margin-bottom: 0px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 30px;
		font-weight: 800;
        font-style: italic;
        line-height: 40px;
    }

    .intro-text .intro-heading {
        margin-bottom: 20px;
        
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 60px;
        font-weight: 800;
        line-height: 75px;
    }
}

